<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cool Company</title>
    <link rel="stylesheet" href="css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="main-container">
      <!-- Первый блок с текстом и изображением -->
      <div class="intro-section">
        <div class="text-block">
          <h2>С помощью нас <br>вы сможете создать то, о чем</h2>
          <h1>желаете!</h1>
          <p>
            Наша команда поможет Вам достичь <br />
            огромного успеха. Мы верим в вас! И знаем это на <br />
            все 100%. Вас не остановить!
          </p>
          <button>Узнать больше...</button>
        </div>
        
        <div class="image-block">
          <img src="./img/header-img.png" alt="Phone Image" />
        </div>
      </div>

      <!-- Второй блок с услугами -->
      <div class="services-section">
        <h2>Что Вам необходимо?</h2>
        <div class="services">
          <div class="service-block">
            <img src="./img/f3.png" alt="Первый блок" />
            <h3>Первый блок</h3>
            <p>Lorem ipsum dolor sit amet consectetur<br />adipiscing elit.</p>
          </div>
          <div class="service-block">
            <img src="./img/f4.png" alt="Второй блок" />
            <h3>Второй блок</h3>
            <p>Lorem ipsum dolor sit amet consectetur<br />adipiscing elit.</p>
          </div>
          <div class="service-block">
            <img src="./img/f5.png" alt="Третий блок" />
            <h3>Третий блок</h3>
            <p>Lorem ipsum dolor sit amet consectetur<br />adipiscing elit.</p>
          </div>
        </div>
      </div>

      <!-- Форма обратной связи -->
      <div class="contact-form-section">
        <h2>Форма заказа обратного звонка</h2>
        <form action="#" method="post">
          <input type="text" placeholder="Имя" />
          <input type="email" placeholder="Электронная почта" />
          <input type="tel" placeholder="Телефон" />
          <textarea placeholder="Какая тема Вас интересует?"></textarea>
          <button type="submit">Отправить вопрос!</button>
        </form>
      </div>

      <!-- Подвал сайта -->
      <footer>
        <p>© Все на этом сайте защищено</p>
      </footer>
    </div>
  </body>
</html>
